# **Filtering and Sorting**

**Question 1 : Show employees working in either the ‘IT’ or ‘HR’ departments**

**Answer**

In [23]:
import pandas as pd
import sqlite3

# Create a dummy DataFrame to simulate the Employees table
data = {
    'EmployeeID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'Marketing', 'HR']
}
employees_df = pd.DataFrame(data)

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df.to_sql('Employees', conn, index=False, if_exists='replace')

# The SQL query to select employees from 'IT' or 'HR' departments
sql_query = """
SELECT *
FROM Employees
WHERE Department IN ('IT', 'HR');
"""

# Execute the SQL query using pandas and display the result
result_df = pd.read_sql_query(sql_query, conn)
display(result_df)

# Close the database connection
conn.close()

   EmployeeID   Name Department
0           1  Alice         IT
1           2    Bob         HR
2           4  David         IT
3           6  Frank         HR

**Question 2 — Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance’.**

In [ ]:
display(result_df.describe())

       EmployeeID
count    4.000000
mean     3.250000
std      2.217356
min      1.000000
25%      1.750000
50%      3.000000
75%      4.500000
max      6.000000

**Question 3 — Display employees whose salary is between ₹50,000 and ₹70,000.**

In [ ]:
import pandas as pd
import sqlite3

# Re-create the DataFrame from the most recent provided data for consistency
# (Assuming the data from Question 2 is the current dataset)
data_for_q3 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q3 = pd.DataFrame(data_for_q3)

# Create an in-memory SQLite database
conn_q3 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q3.to_sql('Employees', conn_q3, index=False, if_exists='replace')

# The SQL query to select employees whose salary is between 50,000 and 70,000
sql_query_q3 = """
SELECT *
FROM Employees
WHERE Salary BETWEEN 50000 AND 70000;
"""

# Execute the SQL query using pandas and display the result
result_df_q3 = pd.read_sql_query(sql_query_q3, conn_q3)
display(result_df_q3)

# Close the database connection
conn_q3.close()

   EmpID       EmpName Department       City  Salary    HireDate
0    101   Rahul Mehta      Sales      Delhi   55000  2020-04-12
1    102  Priya Sharma         HR     Mumbai   62000  2019-09-25
2    107     Raj Kumar         HR      Delhi   60000  2020-05-28
3    108   Simran Kaur    Finance     Mumbai   58000  2021-08-03
4    109   Arjun Reddy         IT  Hyderabad   70000  2022-02-18
5    110    Anjali Das      Sales    Kolkata   51000  2023-01-15

**Question 4 — List employees whose names start with the letter ‘A’**

In [ ]:
import pandas as pd
import sqlite3

# Assuming employees_df_q3 from the previous question is the current dataset
# Re-create the DataFrame to ensure the data is available in this cell's scope
# (or use employees_df_q3 directly if it's guaranteed to be in the kernel state for this run)
data_for_q4 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q4 = pd.DataFrame(data_for_q4)

# Create an in-memory SQLite database
conn_q4 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q4.to_sql('Employees', conn_q4, index=False, if_exists='replace')

# The SQL query to select employees whose names start with 'A'
sql_query_q4 = """
SELECT *
FROM Employees
WHERE EmpName LIKE 'A%';
"""

# Execute the SQL query using pandas and display the result
result_df_q4 = pd.read_sql_query(sql_query_q4, conn_q4)
display(result_df_q4)

# Close the database connection
conn_q4.close()

   EmpID      EmpName Department       City  Salary    HireDate
0    103   Aman Singh         IT  Bengaluru   72000  2021-03-10
1    109  Arjun Reddy         IT  Hyderabad   70000  2022-02-18
2    110   Anjali Das      Sales    Kolkata   51000  2023-01-15

**Question 5 — Find employees whose names contain the substring ‘an’.**

In [ ]:
import pandas as pd
import sqlite3

# Assuming employees_df_q4 from the previous question is the current dataset
# Re-create the DataFrame to ensure the data is available in this cell's scope
# (or use employees_df_q4 directly if it's guaranteed to be in the kernel state for this run)
data_for_q5 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q5 = pd.DataFrame(data_for_q5)

# Create an in-memory SQLite database
conn_q5 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q5.to_sql('Employees', conn_q5, index=False, if_exists='replace')

# The SQL query to select employees whose names contain the substring 'an'
sql_query_q5 = """
SELECT *
FROM Employees
WHERE EmpName LIKE '%an%';
"""

# Execute the SQL query using pandas and display the result
result_df_q5 = pd.read_sql_query(sql_query_q5, conn_q5)
display(result_df_q5)

# Close the database connection
conn_q5.close()

   EmpID      EmpName Department       City  Salary    HireDate
0    103   Aman Singh         IT  Bengaluru   72000  2021-03-10
1    105  Karan Joshi  Marketing       Pune   45000  2018-07-22
2    108  Simran Kaur    Finance     Mumbai   58000  2021-08-03
3    110   Anjali Das      Sales    Kolkata   51000  2023-01-15

**Question 6 — Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.**

In [ ]:
import pandas as pd
import sqlite3

# Assuming employees_df_q5 from the previous question is the current dataset
# Re-create the DataFrame to ensure the data is available in this cell's scope
# (or use employees_df_q5 directly if it's guaranteed to be in the kernel state for this run)
data_for_q6 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q6 = pd.DataFrame(data_for_q6)

# Create an in-memory SQLite database
conn_q6 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q6.to_sql('Employees', conn_q6, index=False, if_exists='replace')

# The SQL query to select employees from 'Delhi' or 'Mumbai' with salary > 55000
sql_query_q6 = """
SELECT *
FROM Employees
WHERE City IN ('Delhi', 'Mumbai')
  AND Salary > 55000;
"""

# Execute the SQL query using pandas and display the result
result_df_q6 = pd.read_sql_query(sql_query_q6, conn_q6)
display(result_df_q6)

# Close the database connection
conn_q6.close()

   EmpID       EmpName Department    City  Salary    HireDate
0    102  Priya Sharma         HR  Mumbai   62000  2019-09-25
1    107     Raj Kumar         HR   Delhi   60000  2020-05-28
2    108   Simran Kaur    Finance  Mumbai   58000  2021-08-03

**Question 7 — Display all employees except those from the ‘HR’ department.**

In [ ]:
import pandas as pd
import sqlite3

# Assuming employees_df_q6 from the previous question is the current dataset
# Re-create the DataFrame to ensure the data is available in this cell's scope
# (or use employees_df_q6 directly if it's guaranteed to be in the kernel state for this run)
data_for_q7 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q7 = pd.DataFrame(data_for_q7)

# Create an in-memory SQLite database
conn_q7 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q7.to_sql('Employees', conn_q7, index=False, if_exists='replace')

# The SQL query to select all employees except those from 'HR' department
sql_query_q7 = """
SELECT *
FROM Employees
WHERE Department <> 'HR';
"""

# Execute the SQL query using pandas and display the result
result_df_q7 = pd.read_sql_query(sql_query_q7, conn_q7)
display(result_df_q7)

# Close the database connection
conn_q7.close()

   EmpID      EmpName Department       City  Salary    HireDate
0    101  Rahul Mehta      Sales      Delhi   55000  2020-04-12
1    103   Aman Singh         IT  Bengaluru   72000  2021-03-10
2    104   Neha Patel      Sales      Delhi   48000  2022-01-14
3    105  Karan Joshi  Marketing       Pune   45000  2018-07-22
4    106   Divya Nair         IT    Chennai   81000  2019-12-11
5    108  Simran Kaur    Finance     Mumbai   58000  2021-08-03
6    109  Arjun Reddy         IT  Hyderabad   70000  2022-02-18
7    110   Anjali Das      Sales    Kolkata   51000  2023-01-15

**Question 8 — Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first)**

In [ ]:
import pandas as pd
import sqlite3

# Assuming employees_df_q7 from the previous question is the current dataset
# Re-create the DataFrame to ensure the data is available in this cell's scope
# (or use employees_df_q7 directly if it's guaranteed to be in the kernel state for this run)
data_for_q8 = {
    'EmpID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EmpName': ['Rahul Mehta', 'Priya Sharma', 'Aman Singh', 'Neha Patel', 'Karan Joshi', 'Divya Nair', 'Raj Kumar', 'Simran Kaur', 'Arjun Reddy', 'Anjali Das'],
    'Department': ['Sales', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'IT', 'Sales'],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Delhi', 'Pune', 'Chennai', 'Delhi', 'Mumbai', 'Hyderabad', 'Kolkata'],
    'Salary': [55000, 62000, 72000, 48000, 45000, 81000, 60000, 58000, 70000, 51000],
    'HireDate': ['2020-04-12', '2019-09-25', '2021-03-10', '2022-01-14', '2018-07-22', '2019-12-11', '2020-05-28', '2021-08-03', '2022-02-18', '2023-01-15']
}
employees_df_q8 = pd.DataFrame(data_for_q8)

# Create an in-memory SQLite database
conn_q8 = sqlite3.connect(':memory:')

# Write the DataFrame to a SQL table named 'Employees'
employees_df_q8.to_sql('Employees', conn_q8, index=False, if_exists='replace')

# The SQL query to get employees hired between 2019 and 2022, ordered by HireDate
sql_query_q8 = """
SELECT *
FROM Employees
WHERE HireDate BETWEEN '2019-01-01' AND '2022-12-31'
ORDER BY HireDate ASC;
"""

# Execute the SQL query using pandas and display the result
result_df_q8 = pd.read_sql_query(sql_query_q8, conn_q8)
display(result_df_q8)

# Close the database connection
conn_q8.close()

   EmpID       EmpName Department       City  Salary    HireDate
0    102  Priya Sharma         HR     Mumbai   62000  2019-09-25
1    106    Divya Nair         IT    Chennai   81000  2019-12-11
2    101   Rahul Mehta      Sales      Delhi   55000  2020-04-12
3    107     Raj Kumar         HR      Delhi   60000  2020-05-28
4    103    Aman Singh         IT  Bengaluru   72000  2021-03-10
5    108   Simran Kaur    Finance     Mumbai   58000  2021-08-03
6    104    Neha Patel      Sales      Delhi   48000  2022-01-14
7    109   Arjun Reddy         IT  Hyderabad   70000  2022-02-18